
        body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(135deg, #ffdde1, #ee9ca7);
            font-family: 'Georgia', serif;
        }

        .fotos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            margin-top: 20px;
        }

        .post-header img {
            width: 100px;
            height: 120px;
            object-fit: cover;
            border-radius: 10px;
        }


        .container {
            text-align: center;
        }

        button {
            padding: 15px 30px;
            font-size: 18px;
            border: none;
            border-radius: 30px;
            background-color: #e75480;
            color: white;
            cursor: pointer;
            transition: 0.3s;
        }

        button:hover {
            background-color: #d6336c;
            transform: scale(1.05);
        }

        .carta {
            margin-top: 30px;
            background: white;
            padding: 30px;
            width: 400px;
            border-radius: 15px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        }

        @keyframes aparecer {
            from {
                opacity: 0;
                transform: translateY(20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
